sudo: required
dist: trusty
language: generic
services:
  - docker
install:
  - env
  - wget -t 10 -O terraform.zip https://releases.hashicorp.com/terraform/0.11.7/terraform_0.11.7_linux_amd64.zip
  - unzip terraform.zip
  - mv terraform ~/bin/
  - chmod +x ~/bin/terraform

jobs:
  include:
    - stage: check
      script: make lint
    - stage: check
      script: make check-docs