apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: ${cluster_secret_store_name}
spec:
  provider:
    aws:
      service: SecretsManager
      region: ${aws_region}
      auth:
        jwt:
          serviceAccountRef:
            name: ${service_account_name}
            namespace: ${service_account_namespace}
