env:
    AWS_EC2_METADATA_DISABLED: true
jobs:
    get-modules:
        permissions: {}
        outputs:
            matrix: ${{steps.list_dirs.outputs.matrix}}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - id: list_dirs
              run: echo "::set-output name=matrix::$(ls -d */|sed -e 's/\///'|grep -v 'bless-ca\|scripts'|jq -cnR '[inputs | select(length>0)]')"
    lint:
        name: lint
        runs-on: ARM64
        permissions:
            contents: read
            id-token: write
        steps:
            - id: generate_token
              name: Generate token
              uses: actions/create-github-app-token@v1
              with:
                app-id: ${{ secrets.GH_ACTIONS_HELPER_APP_ID }}
                private-key: ${{ secrets.GH_ACTIONS_HELPER_PK }}
            - uses: actions/checkout@v4
              with:
                ref: ${{ github.event.pull_request.head.ref }}
                token: ${{ steps.generate_token.outputs.token }}
            - uses: actions/setup-go@v5
              with:
                cache: true
                cache-dependency-path: |
                    go.sum
                go-version: '>=1.19.0'
                go-version-file: go.mod
            - name: golangci-lint
              uses: golangci/golangci-lint-action@v6
              with:
                github-token: ${{ secrets.GITHUB_TOKEN }}
                version: v1.64.6
name: CI
"on":
    pull_request: null
    push:
        branches:
            - main
